@import "fonts";
@import "vars";
@import "title";

* {
  font-weight: normal;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}

a, a:active {
  color: #000000;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}
